[submodule "project-l31"]
	path = project-l31
	url = git@github.com:SafariKnight/DECI-Level3-Project.git
[submodule "project-l32"]
	path = project-l32
	url = git@github.com:SafariKnight/DECI-Level3-2-Project.git
