/**** Basmala edited by Fares ****/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  --clr-text: var(--clr-text-highlight);
  background: var(--clr-background-highlight);

  height: 3rem;
}


.foo ul li {
  list-style: none;
  line-height: 2rem;
}

/** Footer Styles **/
footer {
  position: absolute;
  bottom: 0;
  height: 6rem;
  width: 100%;

  --clr-text: var(--clr-text-highlight);
  background: var(--clr-background-highlight);
}

footer > p {
  text-align: center;
  font-size: 1.2em;
  margin-block: 0.875rem;
}

footer > ul {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 5px 0;
    }
}
