@import url(global.css);

form {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 5px;
  max-width: 400px;
  margin: 40px auto;
  padding: 1.5rem 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

form > * {
  margin: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}
